@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}
.header {
    border: 1px solid red;
    width: 100%;
    height: 50px;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    height: 25px;
}

.header__toggle-btn {
    cursor: pointer;
}

.header__nav {
    display: none;
}

.modal--inactive {
    display: none;
}

.btn {
    border: none;
    height: 50px;
    width: 175px;
    border-radius: 25px;
    background: var(--bright-cyan);
    background: linear-gradient(117deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
    color: var(--white);

    font-size: 0.9rem;
    /* font-weight: bold; */
    /* letter-spacing: 0.5px; */
    font-family: "Public Sans", sans-serif;
}

.hero {
    /* border: 1px solid blue; */
    width: 100%;
    margin: 0 0 5%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    background-image: url("./assets/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: top -50px;

    overflow: hidden;
}

.hero__img {
    width: 99%;
    margin: 0 1%;
    position: relative;
    top: -140px;
}

.hero__content {
    /* border: 1px solid red; */
    padding: 5%;
    margin: -40% 0 0;
    
    text-align: center;
}

.hero__header {
    margin: 0 0 5%;
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-blue);
    
    text-align: center;
}

.hero__copy {
    margin: 0 0 10%;
    color: var(--grayish-blue);
    font-size: 0.8rem;
    line-height: 1.25rem;
}

@media screen and (min-width: 429px) {

}