@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
    padding: 1%;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */

    display: relative;
}

.header__logo {
    position: absolute;
    left: 5%;
    top: calc(50px * .35);
    width: 150px;
    height: 25px;
}

.header__toggle-btn {
    height: 30px;
    aspect-ratio: 1/1;
    top: calc(50px * .3);
    right: 8%;

    border: none;
    position: absolute;
    
    cursor: pointer;
}

.header__toggle-btn--hamburger {
    background: url("./assets/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header__toggle-btn--x {
    background: url("./assets/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.header__nav {
    display: none;
}

.modal {
    position: fixed;
    top: calc(50px + 7px);
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: hsl(233, 26%, 24%, 0.5);

    overflow: hidden;
}

.modal--inactive {
    display: none;
}

.modal-nav {
    width: 90%;
    height: 250px;
    border-radius: 5px;
    position: relative;
    top: 5%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
    /* background-color: red; */
}

.modal-nav__list {
    /* background-color: red; */
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.modal-nav__item {
    list-style: none;
}

.modal-nav__link {
    color: var(--dark-blue);
    text-decoration: none;
}

.btn {
    border: none;
    height: 50px;
    width: 175px;
    border-radius: 25px;
    background: var(--bright-cyan);
    background: linear-gradient(117deg, var(--lime-green) 0%, var(--bright-cyan) 100%);
    color: var(--white);

    font-size: 0.9rem;
    /* font-weight: bold; */
    /* letter-spacing: 0.5px; */
    font-family: "Public Sans", sans-serif;
    cursor: pointer;
}

.hero {
    /* border: 1px solid blue; */
    width: 100%;
    margin: 0 0 5%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    background-image: url("./assets/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: top -50px;

    overflow: hidden;
}

.hero__img {
    width: 99%;
    margin: 0 1%;
    position: relative;
    top: -140px;
}

.hero__content {
    /* border: 1px solid red; */
    padding: 5%;
    margin: -40% 0 0;
    
    text-align: center;
}

.hero__header {
    margin: 0 0 5%;
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-blue);
    
    text-align: center;
}

.hero__copy {
    margin: 0 0 10%;
    color: var(--grayish-blue);
    font-size: 0.8rem;
    line-height: 1.25rem;
}

.features {
    width: 80%;
    padding: 15% 10% 10%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--very-light-gray);
}

.features__header {
    margin: 0 0 5%;
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-blue);
    
    text-align: center;
}

.features__copy {
    margin: 0 0 10%;
    color: var(--grayish-blue);
    font-size: 0.8rem;
    line-height: 1.25rem;
}

.features-card {
    /* border: 1px solid red; */
    min-height: 275px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.features-card__header {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--dark-blue);
    
}

.features-card__copy {
    color: var(--grayish-blue);
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.25rem;
}

.articles {
    padding: 15% 8% 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    background: var(--white);
    background: linear-gradient(180deg, var(--white) 0%, var(--very-light-gray) 100%);
}

.articles__header {
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-blue);
}

.articles-card {
    margin: 8% 0;
    border-radius: 5px;
}

.articles-card__img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.articles-card__content {
    padding: 10%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    background-color: var(--white);
}

.articles-card__byline {
    margin: 0 0 5%;
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--grayish-blue);
}

.articles-card__title {
    margin: 0 0 5%;
    font-size: 0.8rem;
    color: var(--dark-blue);
    font-weight: 400;
}

.articles-card__blurb {
    font-size: 0.75rem;
    color: var(--grayish-blue);
    font-weight: 400;
}

.footer {
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: var(--dark-blue);
    color: var(--white);
}

.footer__logo-socials {
    /* border: 1px solid red;  */
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer__socials {
    margin: 15% 0 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    
    list-style: none;
}

.footer-nav__list {
    /* border: 1px solid red; */
    min-height: 235px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.footer-nav__list-item {
    font-weight: 300;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--white);
}

.footer__cta-copyright {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.btn--footer {
    scale: 0.85;
    margin: 5% 0 10%;
}

.footer__copyright {
    color: var(--grayish-blue);
    font-size: 0.8rem;
}

@media screen and (min-width: 429px) {
    .hero__content {
        margin: -20% 0 0;
    }

    .features__copy {
        font-size: 1rem;
    }

    .features-card__header {
        font-size: 1.5rem;
    }

    .features-card__copy {
        font-size: 1rem;
    }

    .articles-card__byline {
        font-size: 0.85rem;
    }

    .articles-card__title {
        font-size: 1.1rem;
    }

    .articles-card__blurb {
        font-size: 0.9rem;
    }

    .footer-nav__list-item {
        font-size: 1rem;
    }

    .btn--footer {
        scale: 1;
    }
}

@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {

}
